html {
  overflow: hidden;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  background-color: #02031f00;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
  width: 100vw;
  overflow: hidden;
}

nav {
  display: grid;
  height: 60px;
  grid-template-columns: 0.2fr 1fr;
  justify-items: right;
  color: white;
  font-family: montserrat;

}

navInicio {
  display: grid;
  justify-self: center;
}

nav ul {
  display: grid;
  width: 70vw;
  grid-template-columns: 0.7fr 1.5fr 1.5fr 1.5fr 1fr;
  justify-self: center;
  justify-content: left;
}


.navButton:active {
  font-size: 15px;

}

.navButton:hover {
  color: #ffffff;
  transition: 0.5s;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(76, 0, 49);
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
}

.navButton.active {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(76, 0, 49);
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
}

.navRegistro {
  justify-self: right;
  transition: 0.5s;
}

.navRegistro a {
  text-decoration: underline 1px;
}

.navRegistro a:hover {

  transition: 0.5s;
  font-weight: bold;
  font-size: 16px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.linkLogo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.logOut.active {
  color: #ffffff;
  font-weight: 500;
  background-color: rgb(32, 0, 70);
  /* Color de fondo */
  margin-left: 10px;
}

.logOut:hover {
  color: #ffffff;
  transition: 0.5s;
  font-weight: bold;
  background-color: #131024;
  /* Color de fondo */
  margin-left: 10px;

}

.logOut:link {
  font-size: 15px;
  margin-left: 10px;

}

.logOut {
  font-size: 13px;
  margin-left: 7px;
  color: #ffffff;
  transition: 0.5s;
  font-weight: bold;
  background-color: #322B61;
  padding: 4Px;
  padding-left: 10PX;
  padding-right: 10PX;

  border-radius: 10px;
}


.logo {
  width: 80px;
  height: 80px;
  background-image: url(/images/LOGO.png);
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: right;
  margin-bottom: 40px;

}


@media screen and (max-width: 768px) {

  header {
    margin-top: 0px;
    width: 100vw;
    height: 70px;

  }

  nav {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    z-index: 3;
    width: 100vw;
    height: fit-content;
    position: absolute;
    justify-self: center;


  }
  .navButton.active {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(76, 0, 49);
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
  }

  li {
    font-size: 20px;
  }

  .logo {
    position: fixed;
    top: 10px; /* Ajusta según sea necesario */
    left: 20px; /* Ajusta según sea necesario */
    width: 60px;
    height: 60px;
  }

  .navItem {
    position: absolute;
    top: 60px;
    left: 0;
    background: #100837;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding-left: 20px;
    width: 100vw;
    height: 45vh;
    padding-top: 30px;
    padding-bottom: 30px;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }

  .navItem.open {
    transform: translateX(0) !important
  }

  .navToggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px;
  }

  .navToggle span {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .navToggle.open>span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .navToggle.open>span:nth-child(2) {
    display: none;
  }

  .navToggle.open>span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }

  .logOut.active,
  .logOut:link {
    display: grid;
    font-size: 20px;
    color: #ffffff;
    transition: all 0.5s ease;
    justify-items: center;
  }

  .logOut {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    margin-top: 5px;
  }

}